{% extends "base.html" %}
{% block content %}
{% load static %}
  <section class="hero">
    <img id="background" src="{% static 'img/wallpaper/mainwall-1.jpg' %}" alt="">

    <div class="container">
      <!--배경글자-->
      <section class="bg-text">
        <h1>백엔드 개발자 김세중 입니다</h1>
      </section>
    </div>
    <a href="#" name="weather-main"></a>
    <section class="weather-main" >
      <img id="background-weather" src="#" alt="bg-weather">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <img id="wicon" src="" alt="">
          </div>
          <div class="col-6">
            <section id="weather">
              <h1>방문자님의 기상정보</h1>
              <div class="w1"></div>
              <div class="w2"></div>
              <div class="w3"></div>
              <div class="w4"></div>
              <div class="w5"></div>
              <div class="w6"></div>
              <span class="lat7"></span>
              <span class="lon8"></span>
            </section>
          </div>
        </div>
      </div>
    </section>
    <a href="" name="map-main"></a>
    <section class="map">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12">
            <h1>현재 방문자님의 장소</h1>
          </div>
          <div class="col-lg-8 col-12">
            <div id="map" class="shadow"></div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      {% include 'footer.html' %}
    </footer>
  </section>
  <script src="{% static 'javascript/weather.js' %}"></script>
  <script src="{% static 'javascript/map.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTQIlxBn5AfKGvsfJiormAE1esN3fcCkg&callback=initMap" async="async" defer="defer"></script>

{% endblock content %}
