html{
  scroll-behavior: smooth;
  
} 

body{
  
  padding-top: 40px;
}


.login-bg{
  margin-top: 70px;
  padding: 30px 5px 150px;
}
#row-login{
  margin-top: 50px;
  border-width: 1px;
  padding: 30px;
  border-style: solid;
  border-radius: 30px;
}

.signup-bg{
  margin-top: 70px;
  padding: 30px 5px 150px;
}
#sign-up{
  margin-top: 150px;
  margin-bottom: 50px;
  /* padding-top: 200px; */
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
}

/* 기타웹페이지 */

body div.gray-side-wall{
  background-color: #CFCFCF;
  width: 100%;
  height: 100%;
  z-index: -1;
}
div.main-wall{
  background-color: #fff;
  padding: 30px;
  height: 100%;
  z-index: 0;
}
/* 인덱스페이지 */
.gul-wri{
  position: relative;
  right: -93%;
}
.t-obj:link{
  color: black;
}
.t-obj:visited{
  color: #969696;
}


/* 디테일페이지 */
.detail-subject{
  padding-bottom: 30px;
  padding-top: 10px;
}



/* 네비 */
#nav-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E4361;
  z-index: 1;
}
#nav-header [data-bs-toggle="offcanvas"] {
  display: none;
}

#nav-header li.nav-item a{
  color:rgba(255, 255, 255, .5);
  transition: 0.5s;
}
#nav-header li.nav-item a:hover{
  color: #fff;
}


/* 히어로텍스트 */
.hero{
  height: 15px;
  font-family: 'Poppins', sans-serif;
}



.hero img#background{
  width: 100%;
}

.hero #background-weather{
  width: 100%;
}


.hero .bg-text{
  color: #FEFDFE;
  left:50%;
  top:50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%,0%);
}

.hero .bg-text>h1{
  margin-bottom: 30px;
  font-size: 60px;
}
.hero .bg-text>h4{
  font-size: 40px;
}


/* 날씨 */
section.weather-main{
  position: relative;
}

section.weather-main #wicon{
  width: 100%;
}

section.weather-main .row{
  position: absolute;
  top: 50%; 
  transform: translate(-5%,-50%); 
}
#weather{
  margin: 40px 40px;
}
#weather>h1{
  margin-bottom: 30px;
}

#weather div{
  color: rgba(0, 0, 0, .8);
  font-size: 30px;
  padding-bottom: 30px;
}
#weather>span{
  display: none;
}

/* map 지도 */
section.map{
  position: relative;
  background-color:rgb(163, 204, 163);
  padding: 110px 0px 110px;
}

section.map .row h1{
  margin-top: 150px;
}

/* 푸터 */
footer{
  background-color: #CFCFCF;
  padding: 20px 10px 10px;
  font-family: 'Poppins', sans-serif;
  text-align :center;
}
footer img{
  width: 60px;
}

footer #gi{
  width: 90px;
}

footer p{
  font-size: 20px;

}
footer p:last-child{
  color: rgba(0,0,0,.5);
}



/* 미디어쿼리 */
@media (max-width:992px){
  section.map .row h1{
    margin-top: 0px;
  }
  #wicon{
    width: 20%;
  }
  #weather>h1{
    font-size: 20px;
    margin-bottom: 15px;
  }
  #weather div{
    font-size: 20px;
    padding-bottom: 15px;
  }
  .hero .bg-text{
    left:50%;
    top:40%;
    position: absolute;
    text-align: center;
    transform: translate(-50%,0%);
  }
  .hero .bg-text>h1{
    font-size: 30px;
    margin-bottom: 0px;
    top: 15%;
    position: relative;
    text-align: center;
    transform: translate(0%,0%);
  }
  .hero .bg-text>h4{
    font-size: 20px;
    display: none;
  }
  #nav-header [data-bs-toggle="offcanvas"] {
    display: block;
  }



  #nav-header li a[name="offhide"]{
    display: none;
  }
  /* #nav-header li a.nav-link:not(:first-child)[0]{
    display: none;
  } */
}
@media (max-width:768px){
  .hero .bg-text{
    top:30%;
  }
  #weather>h1{
    font-size: 15px;
  }
  #weather div{
    font-size: 15px;
  }


}

@media (max-width:576px){
  .hero .bg-text{
    top:20%;
    font-size: 15px;
  }
  #wicon{
    margin-left: 30px;
    margin-top: 30px;
  }
}
#map{
  height: 500px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 50px;
  z-index: 1;
}


/* #con{
  width: 100%;
  height: 1080px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.item{
  scroll-snap-align: center;
  width: 100%;
  height: 780px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-items: center;
} */

