{% load static %}
<footer>
  <div class="container">
    <a href="https://github.com/radio700/" target="blank"><img id="gi" src="{% static 'img/github.png' %}" alt=""></a>
    <a href="https://www.facebook.com" target="blank"><img src="{% static 'img/facebook.png' %}" alt="fb"></a>
    <a href="https://www.instagram.com/" target="blank"><img src="{% static 'img/insta.png' %}" alt="insta"></a>
    <a href="https://twitter.com/" target="blank"><img src="{% static 'img/twitter.png' %}" alt="twitter"></a>
    <a href="https://www.youtube.com" target="blank"><img src="{% static 'img/youtube.png' %}" alt="youtube"></a>
    <p>Info Support Marketing</p>
    <p>Terms of Use Privacy Policy</p>
    <p>2021 JS network</p>

  </div>
</footer>