{% extends 'base.html' %}
{% block content %}
<div class="gray-side-wall">
  <div class="container">
    <div class="main-wall">
      
      <table class="table">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th style="text-align:center;">추천 수</th>
            <th>글쓴이</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody>
          {% for question in question_list %}
            <tr>
              <td>{{ question.id }}</td>
              <td>
                <a href="{% url 'board:detail' question.id %}" class="text-decoration-none t-obj">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                  <span class="text-primary">{{ question.answer_set.count }}</span>
                {% endif %}
              </td>
              <td style="text-align:center;"><span class="text-center align-content-center">{{ question.voter.count }}</span></td>
              <td>{{ question.author }}</td>
              <td>{{ question.create_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-9 col-md-10"></div>
        <div class="col-3 col-md-2">
          <a href="{% url 'board:question_create' %}" class="btn btn-primary mb-4">글쓰기</a>
        </div>
      </div>
        
      
      
      <!--페이지네이터-->
      <ul class="pagination justify-content-center">
        <!-- 이전페이지-->
        {% if question_list.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link disabled" href="#">Previous</a>
          </li>
        {% endif %}

        <!-- 현재페이지-->
        {% for page_number in question_list.paginator.page_range %}
          {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            {% if page_number == question_list.number %}
              <li class="page-item active">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <!-- 다음페이지-->
        {% if question_list.has_next %}
          <li>
            <a class="page-link" href="?page={{ question_list.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li>
            <a class="page-link disabled" href="#">Next</a>
          </li>
        {% endif %}
      </ul>

      
    </div>
  </div>
</div>
  <footer>
    {% include 'footer.html' %}
  </footer>

{% endblock content %}
